---
import BaseHead from "@/components/BaseHead.astro";
import Card from "@/components/Card.astro";
import Carousel from "@/components/Carousel.astro";
import Footer from "@/components/Footer.astro";
import { getCollection } from "astro:content";
import Header from "@/components/Header.astro";
import "@/styles/global.css";
import { SITE_DESCRIPTION } from "../consts";
import { alphabeticalSort } from "@/lib/utils";
import ogImage from "@/assets/og-images/ogi-index.png";

const fallacyCollection = await getCollection("fallacy");
const fallacies = fallacyCollection.sort((a, b) => alphabeticalSort(a, b));

const midpoint = Math.floor(fallacies.length / 2);
const firstHalf = fallacies.slice(0, midpoint);
const secondHalf = fallacies.slice(midpoint);

const ogImageSrc = ogImage.src;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title="Logicnama.com — Logical Fallacies for Sikhs"
      description={SITE_DESCRIPTION}
      image={ogImageSrc}
    />
    <style>
      .embla__slide {
        flex: 0 0 auto;
        min-width: 0;

        width: 255px;
        margin-left: 20px;
        padding: 10px;
        background-color: #fcfcfc;
        border-radius: 12px;
        border: 1px solid #e1e1e1;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section
        class="flex flex-col justify-center h-[50vh] sm:h-[33vh] lg:h-[50vh] md:text-center"
      >
        <div class="container px-5 mx-auto">
          <h1 class="title mb-5">Logical Fallacies <br /> For Sikhs</h1>
          <h2 class="subtitle text-gray-500">
            A List Of Logical Fallacies and Sikh relevant examples
          </h2>
        </div>
      </section>

      <!-- carousels -->
      <section class="my-20">
        <div
          class="container mx-auto max-w-screen-lg relative pointer-events-none"
        >
          <Carousel direction="backward">
            {
              firstHalf.map((fallacy) => (
                <div class="embla__slide">
                  <h3 class="h3 font-medium mb-1.5">{fallacy.data.title}</h3>
                  <p class="line-clamp-4">{fallacy.data.description}</p>
                </div>
              ))
            }
          </Carousel>
          <Carousel>
            {
              secondHalf.map((fallacy) => (
                <div class="embla__slide">
                  <h3 class="h3 font-medium mb-1.5">{fallacy.data.title}</h3>
                  <p class="line-clamp-4">{fallacy.data.description}</p>
                </div>
              ))
            }
          </Carousel>

          <div
            class="absolute inset-y-0 left-0 h-full w-3/12 bg-gradient-to-r from-background"
          >
          </div>
          <div
            class="absolute inset-y-0 right-0 h-full w-3/12 bg-gradient-to-l from-background"
          >
          </div>
        </div>
      </section>
    </main>

    <section class="my-20">
      <div class="container max-w-screen-lg px-4 mx-auto">
        <h2 class="h2 mb-5">A-Z</h2>
        <div
          class="grid sm:grid-cols-2 md:grid-cols-3 gap-5 justify-items-center"
        >
          {
            fallacies.map((fallacy) => (
              <Card
                cover={fallacy.data.cover}
                title={fallacy.data.title}
                text={fallacy.data.description}
                link={`/fallacies/${fallacy.id}`}
              />
            ))
          }
        </div>
      </div>
    </section>

    <Footer />
  </body>
</html>
